html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.page {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--title-name-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.team {
  padding-bottom: 94px;
  background-color: var(--bg-page-color);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header,
.page header {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 2px solid #ececec;
}

.container,
.portfolio__container,
.portfolio__container-footer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .container,
  .portfolio__container,
  .portfolio__container-footer {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container,
  .portfolio__container,
  .portfolio__container-footer {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container,
  .portfolio__container,
  .portfolio__container-footer {
    max-width: 1200px;
  }
}

.hero__knob {
  color: var(--title-name-color);
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  border-radius: 4px;
  min-height: 50px;
  padding: 10px 32px;
}

.hero__knob:hover {
  color: var(--title-name-color);
  background-color: var(--accent-color);
}

.portfolio-navigator__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 645px) {
  .portfolio-navigator__list {
    justify-content: start;
  }
}

.portfolio-navigator__list-button {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--bg-team-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  margin-right: 8px;
  border-radius: 4px;
  text-decoration: none;
  transition-property: background-color, color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 645px) {
  .portfolio-navigator__list-button {
    margin-bottom: 15px;
  }
}

.portfolio-navigator__list-button:hover, .portfolio-navigator__list-button:focus {
  color: var(--title-name-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.logo {
  color: var(--button-portfolio-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: block;
  text-decoration: none;
}

.logo__color {
  color: var(--accent-color);
  font-family: Raleway;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.menu {
  display: inline-flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__item:hover .icon,
.menu__item:focus .icon {
  fill: var(--accent-color);
}

.blackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blackdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -200%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 90%;
  height: 610px;
  background-color: var(--title-name-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btd-close-icon {
  font-size: 20px;
}

.modal__btd-close-icon:hover {
  fill: var(--accent-color);
}

.modal__btd-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--title-name-color);
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal-form {
  padding: 40px;
}

.modal-form__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
  color: var(--title-text-color);
}

.modal-form__line {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__line:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__line-input {
  height: 40px;
  padding: 0 0 0 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__line-input:focus + .modal-form__line-icon {
  fill: var(--accent-color);
}

.modal-form__line-icon {
  position: absolute;
  top: 28px;
  left: 15px;
  margin-bottom: 4px;
}

.modal-form__line-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__line-comment {
  margin-bottom: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__check {
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-form__check-label {
  display: inline-flex;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__check-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.modal-form__check-icon {
  border: 2px solid black;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-color: var(--title-name-color);
  background-image: url();
}

.modal-form__check-input:checked + .modal-form__check-icon {
  background-color: var(--accent-color);
  background-image: url(../images/Vecto.svg);
  border: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-form__check-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  margin-right: 4px;
}

.modal-form__check-labelcolor {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-form__button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--title-name-color);
}

.modal-form__button:hover, .modal-form__button:focus {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  font-family: Roboto, sans-serif;
  background-color: var(--title-name-color);
  color: var(--primary-text-color);
}

.portfolio-navigator {
  padding-top: 94px;
}

.projects {
  padding-top: 50px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio li {
  flex-wrap: wrap;
}

.projects-list__title {
  margin: 20px 24px 4px 24px;
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.projects-list__link {
  width: 322px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.projects-list__work {
  margin: 0 24px 20px 24px;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}

.projects-list__card {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--prog-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__card:hover, .projects-list__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__card:nth-child(3n) {
  margin-right: 0;
}

.projects-list__card:nth-last-child(-n+3) {
  margin-bottom: 94px;
}

.projects-list__card:hover .projects-list__text,
.projects-list__card:focus .projects-list__text {
  transform: translateY(0);
}

.projects-list__border {
  border-right: 1px solid var(--prog-color);
  border-bottom: 1px solid var(--prog-color);
  border-left: 1px solid var(--prog-color);
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--main-light-color);
}

.projects-list__foto {
  position: relative;
  overflow: hidden;
}

.projects-list__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-navigator__list {
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}

.social-icons {
  display: inline-flex;
}

.social-icons :hover .social-icons__icon,
.social-icons:focus .social-icons__icon {
  fill: var(--title-name-color);
  color: var(--title-name-color);
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  padding-bottom: 30px;
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__item {
  padding-bottom: 30px;
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.team {
  background-color: var(--bg-team-color);
}

.section__title,
.team__title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}

.personnel__title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  text-align: center;
  width: 152px;
}

.personnel__img {
  margin-bottom: 30px;
}

.team__text {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  text-align: center;
  width: 147px;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) {
  .team__item {
    --grid-item: 1;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    --grid-item: 4;
  }
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.clients__list-item {
  height: 90px;
}

@media screen and (min-width: 480px) {
  .clients__list-item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 768px) {
  .clients__list-item {
    --grid-item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list-item {
    --grid-item: 6;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  background-color: var(--title-name-color);
  border: 1px solid #2196F3;
}

.clients__link:hover .icon,
.clients__link:focus .icon {
  fill: var(--accent-color);
}

.features__title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
  list-style: none;
}

.features__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.section__item {
  flex-basis: calc((100% - 30px * 1) / 1);
}

@media screen and (max-width: 480px) {
  .section__item {
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .section__item {
    flex-basis: calc((100% - 30px * 2) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.section__item::before {
  content: '';
  display: block;
  height: 120px;
  background-color: var(--bg-team-color);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.antenna::before {
  background-image: url(../images/icon/antenna.svg.svg);
}

.clock::before {
  background-image: url(../images/icon/clock.svg.svg);
}

.diagrama::before {
  background-image: url(../images/icon/diagram.svg.svg);
}

.astronaut::before {
  background-image: url(../images/icon/astronaut.svg.svg);
}

.footer {
  margin-right: auto;
  margin-left: auto;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

.footer__contacts-blocks {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__contacts-blocks {
    justify-content: space-between;
    flex-direction: row;
    padding: 60px 15px;
  }
}

@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    flex-basis: calc((100% - 90px) / 2);
  }
}

.footer__studio {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__studio {
    margin-top: 0;
    margin-right: 70px;
    text-align: start;
  }
}

.footer__studio-logo {
  display: block;
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer__studio-studio {
  color: var(--title-name-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer__studio-street {
  margin-top: 20px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer__studio-list-link {
  display: block;
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.footer-social {
  margin-top: 80px;
}

.footer-social__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-name-color);
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-top: 0;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-social-list__item {
  display: flex;
  height: 44px;
  width: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list__item:hover, .footer-social-list__item:focus {
  fill: var(--title-name-color);
  background-color: var(--accent-color);
}

.footer-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.footer-social-list__icon {
  fill: var(--title-name-color);
}

.form-footer {
  margin-top: 60px;
}

.form-footer__title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--title-name-color);
}

@media screen and (min-width: 1200px) {
  .form-footer__title {
    text-align: start;
  }
}

.form-footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .form-footer__box {
    flex-direction: row;
  }
}

.form-footer__box-input {
  margin-right: 15px;
  padding: 15px;
  width: 90%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .form-footer__box-input {
    max-width: 450px;
  }
}

.form-footer__box-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-text-color);
}

.form-footer__box-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
  max-width: 200px;
  color: var(--title-name-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

@media screen and (min-width: 1200px) {
  .form-footer__box-button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.form-footer__button-icon {
  margin-left: 10px;
  fill: var(--title-name-color);
}

@media screen and (min-width: 1200px) {
  .form-footer {
    margin-top: 0;
  }
}

.section-foto {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-foto {
    display: block;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.grid__item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--title-name-color);
}

.grid__team + .grid__item {
  margin-left: 30px;
}

.grid__img {
  justify-content: space-between;
  display: flex;
  padding-bottom: 94px;
}

.icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__foto {
  position: relative;
  opacity: 1;
}

.grid__foto-box {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.grid__foto-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-name-color);
}

.site_nav__link
.portfolio-page.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site_nav__link
.portfolio-page.site-nav__link:hover, .site_nav__link
.portfolio-page.site-nav__link:focus {
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav__current {
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.contacts-nav__item,
.portfolio-page.contacts-nav__item {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.contacts-nav__item:hover, .contacts-nav__item:focus,
.portfolio-page.contacts-nav__item:hover,
.portfolio-page.contacts-nav__item:focus {
  color: var(--alternative-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.link {
  transition: color 300ms ease-in;
}

.current {
  position: relative;
}

.site-nav__current::after {
  position: absolute;
  bottom: -45px;
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.menu__item-icon {
  margin-right: 10px;
}

.header__container,
.header__portfolio__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.navigation,
.portfolio-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
}

.hero {
  text-align: center;
  padding-top: 115px;
  padding-bottom: 115px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-@2x-mob.png);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tab.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-color);
    background-size: cover;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-@2x-tab.png);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-desk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-color);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-@2x-desk.png);
  }
}

.hero__title {
  color: var(--title-name-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

@media screen and (max-width: 767px) {
  .hero__title {
    width: calc( 100% / 4 * 4);
  }
}

:root {
  --primary-text-color:  #757575;
  --title-text-color: #212121;
  --accent-color:#2196F3;
  --adress-color:  #ffffff99;
  --title-name-color: #FFFFFF;
  --bg-color:#2F303A;
  --bg-team-color: #F5F4FA;
  --bg-page-color: #E5E5E5;
  --button-portfolio-color:#000000;
  --prog-color: #EEEEEE ;
}
/*# sourceMappingURL=styles.css.map */