
    .portfolio {
        font-family: Roboto, sans-serif;
        background-color: var(--title-name-color);
        color: var(--primary-text-color); 
        
    }
    .portfolio-navigator {
        padding-top: 80px;

        @media screen and (min-width: 1200px) {
          text-align: center;
    justify-content: center;
    margin-bottom: 50px;
        }

        
    &__list {
      display: inline-flex;
      flex-wrap: wrap;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: -8px;
    }
    }
  
    .projects {
      padding-top: 40px;
      padding-top: 0;

      
  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
  }

  .project-list {
    .project-list__card {
      flex-basis: calc((100% - 30px * 1) / 1);;
      position: relative;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px * 2) / 2);
      }
      @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 30px * 3) / 3);
      }
    }
  
    .project-list__card:hover,
    .project-list__card:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .projects-list__foto {
    position: relative;
    overflow: hidden;
  }

  .projects-list__text{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 63px 25px;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(101%);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #fff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .projects-list__link {
    text-decoration: none;
  }

  .project-list__img {
    display: block;
  }

  .project-list__card:hover .project-list__txt,
  .project-list__card:focus .project-list__txt {
    transform: translateY(0);
  }
  
  .projects-link .big {
    width: 322px;
  }
  .projects-list__border {
    border-right: 1px solid var(--prog-color);
    border-bottom: 1px solid var(--prog-color);
    border-left: 1px solid var(--prog-color);
    padding: 20px 0 20px 0;
    background-color: var(--main-light-color);
  }

  .projects-list__title  {
    margin-left: 25px;
    color: var(--title-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em; 
  
  }

  .projects-list__work {
    margin: 0 24px 0 24px;
    color: var(--primary-text-color);
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-decoration: none;
  }


  .projects-list__link{
    width: 322px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
  }
  
  
  .projects-list__card  {
    border: 1px solid var(--prog-color);
  }

  .border-card {
    border-bottom: none;
  }
  
    
    
  