
    .team{
        background-color: var(--bg-team-color);
    }

    .section__title,
    .team__title {
      color:var(--title-text-color);
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      text-align: center;
      padding-bottom: 50px;
    }
    .personnel__title {
        color: var(--title-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em; 
        margin-top: 30px;  
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        text-align: center;
        width: 152px;
    }
    .personnel__img {
        margin-bottom: 30px;
    }
    .team__text {
        color: var(--main-text-color);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em; 
        margin-right: auto;
        margin-bottom: 16px;
        margin-left: auto;
        text-align: center;
        width: 147px;
    }
    

    .team__item {
        @media screen and (min-width: 480px) {
            --grid-item: 1;
            width: 100%;
          }
          display: flex;
     flex-direction: column;
     align-items: center;

     @media screen and (min-width: 768px) {
     --grid-item: 2;
   }

   @media screen and (min-width: 1200px) {
     --grid-item: 4;
   }
   text-align: center;
   padding-bottom: 30px;
   background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}