
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body {
    margin: 0;
}
body.modal-open {
  overflow: hidden;
}
.page{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color:var(--title-name-color);
  }
a {
text-decoration: none;
outline: none;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p ,
ul {
   margin-top: 0; 
   margin-bottom: 0;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
img {
    display: block;
    max-width: 100%;

}
.list {
  list-style: none;
}
.team {
    padding-bottom: 94px;
    background-color:var(--bg-page-color);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  